<section class="rounded-4 p-4 my-2 container">
  <!-- Check if cart exists and has items -->
  @if (cart && cart.numOfCartItems > 0) {
  <div class="shadow bg-main-light p-4">
    <div class="d-flex justify-content-between flex-wrap">
      <div>
        <h1 class="h4 fw-semibold">Shop Cart</h1>
        <p class="text-main fw-semibold mb-1">
          Total Cart Price: {{ cart.data.totalCartPrice || 0 | currency:'GBP' }}
        </p>
      </div>
      <button (click)="clearCart()" class="btn btn-danger align-self-center">Clear Cart</button>
    </div>

    <!-- Loop through products in the cart -->
    @for (item of cart.data.products; track item.product._id) {
    <div class="row py-3 border-bottom">
      <div class="col-md-1">
        <img [src]="item.product.imageCover" class="w-100" [alt]="item.product.title">
      </div>
      <div class="col-md-11 d-flex align-items-center justify-content-between">
        <div>
          <h5 class="h5">{{ item.product.title }}</h5>
          <p class="text-main m-0">Price: {{ item.price | currency:'GBP' }}</p>
          <button (click)="deleteItem(item.product._id)" class="btn-danger btn btn-sm mt-2">
            <i class="fa-solid fa-trash"></i> Remove
          </button>
        </div>
        <div class="d-flex align-items-center gap-2">
          <button (click)="updateQty(item.product._id, item.count + 1)" class="text-main border-0">
            <i class="fa-solid fa-circle-plus fa-2xl"></i>
          </button>
          <span>{{ item.count }}</span>
          <button (click)="updateQty(item.product._id, item.count - 1)" class="text-main border-0">
            <i class="fa-solid fa-circle-minus fa-2xl"></i>
          </button>
        </div>
      </div>
    </div>
    }
    <div class="col-md-12 ">
      <button [routerLink]="['/online-order', cart.cartId]" class="btn  btn-main  col-12 text-white btn my-2">Online
        Payment</button>
      <button [routerLink]="['/cash-order', cart.cartId]" class="btn  btn-main  col-12  text-white btn my-2">Cash
        Order</button>
    </div>

  </div>

  } @else {
  <div class="col-md-7 m-auto">
    <img src="./assets/images/empty-cart.svg" class="w-100 d-block" alt="empty-cart">
  </div>
  }
</section>