.product-details h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
}

.product-details p.lead {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-details .btn-lg {
  padding: 10px 20px;
  margin-right: 10px;
}
