<section class="container my-5">
  <div class="row">
    <div class="col-md-6 d-none d-md-flex">
      <img src="./assets/images/cash-order.svg" class="img-fluid" alt="cash-payment">
    </div>
    <div class="col-md-6 py-5 py-md-0   bg-body-tertiary  align-content-center">
      <div class="form  text-main fw-medium ">

        <h2 class="text-center">Cash On Delivery</h2>
        <form class="w-75 m-auto" [formGroup]='addressForm' (ngSubmit)="cashPayment()">
          <input formControlName="details" class="form-control my-3" placeholder=" street">
          <alertError controlName="details" [formName]="addressForm"></alertError>
          <input formControlName="city" type="text" class="form-control my-3" placeholder="  city">
          <alertError controlName="city" [formName]="addressForm"></alertError>
          <input formControlName="phone" type="tel" class="form-control my-3" placeholder="  phone">
          <alertError controlName="phone" [formName]="addressForm"></alertError>
          <button type="submit" class="bg-main text-white btn">Pay now</button>
        </form>

      </div>
    </div>
  </div>



</section>