<div class="row ">

  <div class="col-md-6 d-none d-md-flex">
    <img src="./assets/images/Forgot password-rafiki.svg" class="img-fluid" alt="login">
  </div>
  <div class="col-md-6 py-5 py-md-0   bg-body-tertiary  align-content-center ">
    <div class="form  text-main fw-medium ">


      @if (step == 1) {
      <p class="text-center mb-5 h2">Forgot password ? </p>
      <form class="w-75 m-auto " [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address :</label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
          <alertError controlName="email" [formName]="verifyEmail" />
        </div>

        <p class="text-danger fw-semibold">{{msgError}} </p>
        <button [disabled]="isBtnSubmit || verifyEmail.invalid" type="submit " class="btn btn-main">

          submit
          @if (isBtnSubmit) {
          <i class="fa-solid fa-spinner fa-spin"></i>
          }
        </button>
      </form>

      }@else if (step == 2) {
      <p class="text-center mb-5 h2">Check Your Email ! </p>
      <form class="w-75 m-auto " [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
        <div class="mb-3">
          <label for="inputCode" class="form-label">Reset Code :</label>
          <input type="text" class="form-control" id="inputCode" formControlName="resetCode">
          <alertError controlName="resetCode" [formName]="verifyCode" />
        </div>

        <p class="text-danger fw-semibold">{{msgError}} </p>
        <button [disabled]="isBtnSubmit || verifyCode.invalid" type="submit " class="btn btn-main">

          submit
          @if (isBtnSubmit) {
          <i class="fa-solid fa-spinner fa-spin"></i>
          }
        </button>
      </form>

      }@else if (step == 3) {


      <form class="w-75 m-auto " [formGroup]="resetPass" (ngSubmit)="resetPasswordSubmit()">
        <p class="text-center mb-5 h2"> Reset Your Password ! </p>
        <div class="mb-3">
          <label for="userEmail" class="form-label ">Email address :</label>
          <input readonly type="email" class="form-control bg-body-secondary" id="userEmail" formControlName="email">
          <alertError controlName="email" [formName]="verifyEmail" />
        </div>


        <div class="mb-3">
          <label for="NewPassword" class="form-label">New Password :</label>
          <input type="password" class="form-control" id="NewPassword" formControlName="newPassword">
          <alertError controlName="newPassword" [formName]="resetPass" />
        </div>


        <p class="text-danger fw-semibold">{{msgError}} </p>
        <button [disabled]="isBtnSubmit || resetPass.invalid" type="submit " class="btn btn-main">

          submit
          @if (isBtnSubmit) {
          <i class="fa-solid fa-spinner fa-spin"></i>
          }
        </button>
      </form>

      }













    </div>

  </div>


</div>