<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="../../../assets/images/slider (1).avif" alt="shoppingSlider"></ng-template>
  <ng-template carouselSlide><img src="../../../assets/images/slider (2).avif" alt="shoppingSlider"></ng-template>
  <ng-template carouselSlide><img src="../../../assets/images/slider (3).avif" alt="shoppingSlider"></ng-template>
  <ng-template carouselSlide><img src="../../../assets/images/slider (4).avif" alt="shoppingSlider"></ng-template>
  <ng-template carouselSlide><img src="../../../assets/images/slider (5).avif" alt="shoppingSlider"></ng-template>
</owl-carousel-o>